.inp{
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 2px;
    margin-bottom: 10px;
    outline: 0;
}

button{
    background-color: skyblue;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 2px;
    width: 100%;
}

.main{
    border: 1px solid black;
    padding: 3em;
    box-shadow: 10px 10px 10px gray;
    width: 50%;
    border-radius: 5px;
}